Source Code/RetailPOS/Service References/RetailPOSService/RetailPOSService93.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.PromotionalOffer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.PromotionalOffer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logiciellsd103/RetailPOSService/RetailPOSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="ArrayOfPromotionalOfferDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromotionalOfferDTO" nillable="true" type="tns:PromotionalOfferDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromotionalOfferDTO" nillable="true" type="tns:ArrayOfPromotionalOfferDTO" />
  <xs:complexType name="PromotionalOfferDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" type="xs:double" />
          <xs:element minOccurs="0" name="End_Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Purchase_Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="Start_Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="offer_percentage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="offer_quantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="oqty_mu" type="xs:int" />
          <xs:element minOccurs="0" name="pqty_mu" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromotionalOfferDTO" nillable="true" type="tns:PromotionalOfferDTO" />
</xs:schema>