Source Code/RetailPOS/Service References/RetailPOSService/RetailPOS.CommonLayer.DataTransferObjects.Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Order" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="OrderMasterDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Customer_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:short" />
          <xs:element minOccurs="0" name="Invoice_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Order_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Order_no" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orderchilds" nillable="true" type="tns:ArrayOfOrderChildDTO" />
          <xs:element minOccurs="0" name="Print_receipt_copies" type="xs:short" />
          <xs:element minOccurs="0" name="Shop_code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderMasterDTO" nillable="true" type="tns:OrderMasterDTO" />
  <xs:complexType name="ArrayOfOrderChildDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderChildDTO" nillable="true" type="tns:OrderChildDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderChildDTO" nillable="true" type="tns:ArrayOfOrderChildDTO" />
  <xs:complexType name="OrderChildDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q2:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Measure_unit_id" type="xs:short" />
          <xs:element minOccurs="0" name="Order_id" type="xs:long" />
          <xs:element minOccurs="0" name="Product_id" type="xs:short" />
          <xs:element minOccurs="0" name="Quantity" type="xs:short" />
          <xs:element minOccurs="0" name="Taxed" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderChildDTO" nillable="true" type="tns:OrderChildDTO" />
  <xs:complexType name="ArrayOfOrderMasterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderMasterDTO" nillable="true" type="tns:OrderMasterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderMasterDTO" nillable="true" type="tns:ArrayOfOrderMasterDTO" />
</xs:schema>