Source Code/RetailPOS/Service References/RetailPOSService/RetailPOSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logiciellsd103/RetailPOSService/RetailPOSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="ArrayOfStaffDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaffDTO" nillable="true" type="tns:StaffDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaffDTO" nillable="true" type="tns:ArrayOfStaffDTO" />
  <xs:complexType name="StaffDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address_Id" type="xs:long" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Department_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Designation_Id" type="xs:int" />
          <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hire_Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpenId_Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpenId_Server_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Security_Group_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Status_Id" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StaffDTO" nillable="true" type="tns:StaffDTO" />
</xs:schema>