Source Code/RetailPOS/Service References/RetailPOSService/RetailPOSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetailPOSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Category" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Product" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.User" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/RetailPOSService/RetailPOSService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Customer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRetailPOSServiceContract_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetProductByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetProductByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetStaffDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffDetails" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetStaffDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_ValidateUserCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserCredentials" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_ValidateUserCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IRetailPOSServiceContract">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetCategories" message="tns:IRetailPOSServiceContract_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetCategoriesResponse" message="tns:IRetailPOSServiceContract_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategory" message="tns:IRetailPOSServiceContract_GetProductByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategoryResponse" message="tns:IRetailPOSServiceContract_GetProductByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetAllProducts" message="tns:IRetailPOSServiceContract_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetAllProductsResponse" message="tns:IRetailPOSServiceContract_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetStaffDetails" message="tns:IRetailPOSServiceContract_GetStaffDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetStaffDetailsResponse" message="tns:IRetailPOSServiceContract_GetStaffDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/ValidateUserCredentials" message="tns:IRetailPOSServiceContract_ValidateUserCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/ValidateUserCredentialsResponse" message="tns:IRetailPOSServiceContract_ValidateUserCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetAllCustomers" message="tns:IRetailPOSServiceContract_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetAllCustomersResponse" message="tns:IRetailPOSServiceContract_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRetailPOSServiceContract" type="tns:IRetailPOSServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffDetails">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetStaffDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserCredentials">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/ValidateUserCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetailPOSService">
    <wsdl:port name="BasicHttpBinding_IRetailPOSServiceContract" binding="tns:BasicHttpBinding_IRetailPOSServiceContract">
      <soap:address location="http://localhost/RetailPOSService/RetailPOSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>