Source Code/RetailPOS/Service References/RetailPOSService/RetailPOSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logiciellsd102/RetailPOSService/RetailPOSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="AddressDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Building_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country_Id" type="xs:int" />
          <xs:element minOccurs="0" name="House_No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Locality_Id" type="xs:int" />
          <xs:element minOccurs="0" name="PostCode_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Street_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Town_City_Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="ArrayOfCountryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryDTO" nillable="true" type="tns:CountryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryDTO" nillable="true" type="tns:ArrayOfCountryDTO" />
  <xs:complexType name="CountryDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q2:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryDTO" nillable="true" type="tns:CountryDTO" />
  <xs:complexType name="ArrayOfTownCityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TownCityDTO" nillable="true" type="tns:TownCityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTownCityDTO" nillable="true" type="tns:ArrayOfTownCityDTO" />
  <xs:complexType name="TownCityDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q3:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Town_City1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="countryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TownCityDTO" nillable="true" type="tns:TownCityDTO" />
  <xs:complexType name="ArrayOfPostCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostCodeDTO" nillable="true" type="tns:PostCodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostCodeDTO" nillable="true" type="tns:ArrayOfPostCodeDTO" />
  <xs:complexType name="PostCodeDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q4:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TownCityId" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostCodeDTO" nillable="true" type="tns:PostCodeDTO" />
</xs:schema>