Source Code/RetailPOS/Service References/RetailPOSService/RetailPOS.CommonLayer.DataTransferObjects.Master.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="AddressDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Building_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country_Id" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="House_No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Locality_Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="PostCode_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Street_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Town_City_Id" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:complexType name="MeasureUnitDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q2:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:short" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasureUnitDTO" nillable="true" type="tns:MeasureUnitDTO" />
  <xs:complexType name="ArrayOfCountryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryDTO" nillable="true" type="tns:CountryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryDTO" nillable="true" type="tns:ArrayOfCountryDTO" />
  <xs:complexType name="CountryDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q3:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:short" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryDTO" nillable="true" type="tns:CountryDTO" />
  <xs:complexType name="ArrayOfTownCityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TownCityDTO" nillable="true" type="tns:TownCityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTownCityDTO" nillable="true" type="tns:ArrayOfTownCityDTO" />
  <xs:complexType name="TownCityDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q4:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:short" />
          <xs:element minOccurs="0" name="Town_City1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="countryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TownCityDTO" nillable="true" type="tns:TownCityDTO" />
  <xs:complexType name="ArrayOfLocalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalityDTO" nillable="true" type="tns:LocalityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalityDTO" nillable="true" type="tns:ArrayOfLocalityDTO" />
  <xs:complexType name="LocalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Locality1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalityDTO" nillable="true" type="tns:LocalityDTO" />
  <xs:complexType name="ArrayOfStreetDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetDTO" nillable="true" type="tns:StreetDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetDTO" nillable="true" type="tns:ArrayOfStreetDTO" />
  <xs:complexType name="StreetDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q5:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StreetDTO" nillable="true" type="tns:StreetDTO" />
  <xs:complexType name="ArrayOfPostCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostCodeDTO" nillable="true" type="tns:PostCodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostCodeDTO" nillable="true" type="tns:ArrayOfPostCodeDTO" />
  <xs:complexType name="PostCodeDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q6:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="PostCode1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TownCityId" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostCodeDTO" nillable="true" type="tns:PostCodeDTO" />
  <xs:complexType name="ArrayOfMeasureUnitDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasureUnitDTO" nillable="true" type="tns:MeasureUnitDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasureUnitDTO" nillable="true" type="tns:ArrayOfMeasureUnitDTO" />
</xs:schema>