Source Code/RetailPOS/Service References/RetailPOSService/RetailPOS.CommonLayer.DataTransferObjects.Product.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Product" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Category_Id" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Has_Warranty" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:short" />
          <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchasePrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="Retail_Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Size" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Status_Id" type="xs:short" />
          <xs:element minOccurs="0" name="Tax_Rate" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Wholesale_Price" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfProductStatusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductStatusDTO" nillable="true" type="tns:ProductStatusDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductStatusDTO" nillable="true" type="tns:ArrayOfProductStatusDTO" />
  <xs:complexType name="ProductStatusDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q2:StatusDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductStatusDTO" nillable="true" type="tns:ProductStatusDTO" />
</xs:schema>