Source Code/RetailPOS/Service References/RetailPOSService/RetailPOSService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Product" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects.Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logiciellsd102/RetailPOSService/RetailPOSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" base="q1:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasWarranty" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RetailPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Size" type="xs:decimal" />
          <xs:element minOccurs="0" name="StatusId" type="xs:int" />
          <xs:element minOccurs="0" name="TaxRate" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
          <xs:element minOccurs="0" name="WholesalePrice" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
</xs:schema>