RetailPOS/RetailPOS/Service References/RetailPOSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetailPOSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RetailPOS.CommonLayer.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRetailPOSServiceContract_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetProductByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="IRetailPOSServiceContract_GetProductByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IRetailPOSServiceContract">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetCategories" message="tns:IRetailPOSServiceContract_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetCategoriesResponse" message="tns:IRetailPOSServiceContract_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategory" message="tns:IRetailPOSServiceContract_GetProductByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategoryResponse" message="tns:IRetailPOSServiceContract_GetProductByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRetailPOSServiceContract" type="tns:IRetailPOSServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/IRetailPOSServiceContract/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetailPOSService">
    <wsdl:port name="BasicHttpBinding_IRetailPOSServiceContract" binding="tns:BasicHttpBinding_IRetailPOSServiceContract">
      <soap:address location="http://localhost/RetailPOSService/RetailPOSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>